<!-- <div class="text-layout">
  <h1>{{nombre | uppercase}}</h1>
  <h1>{{numero | number}}</h1>
  <h2>{{obj | json}}</h2>
</div>

el pButton es el que usamos desde primeNG para llamarlo desde el modulo y el label es para darle un texto al boton
<button pButton (click)="mostrarNombre()" label="Cambiar nombre"></button>
<br> <br>
<button pButton label="Submit"><i class="pi pi-check"></i></button>
<br><br>
<button pButton (click)="mostrarNombre()" icon="pi pi-check" iconPos="right" label="Cambiar nombre"
  class="p-button-info"></button>

<hr>
<p-card [header]="nombre | titlecase" subheader="Esto es un subheader o un subtitulo">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptatem dolore cupiditate recusandae assumenda porro,
  debitis veniam vel facere dignissimos tempore sed. Minima, quisquam! Possimus commodi labore quo esse velit.
</p-card> -->

<app-menu></app-menu>
<router-outlet></router-outlet>
